{% extends 'base.html' %}

{% block title %}
  Add Goal
{% endblock %}

{% block content %}
  <div class="container mt-5 h-100">
    <!-- Form to add a new goal -->
    <h3 class="mt-4"><i class="fa-solid fa-circle-plus"></i> Add Goal</h3>
    <form method="POST" action="{{ url_for('add_goal') }}">
        
        <div class="form-group col-12 col-md-6 col-lg-4 m-2">
            <label for="goal_name">Goal Name</label>
            <input type="text" class="form-control" id="goal_name" name="goal_name" required placeholder="e.g. Emergency Fund">
        </div>
    
        <div class="form-group col-12 col-md-6 col-lg-4 m-2">
            <label for="category_id">Category</label>
            <select class="form-control" id="category_id" name="category_id" required>
                {% for category in categories %}
                    <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class="form-group col-12 col-md-6 col-lg-4 m-2">
            <label for="goal_description">Goal Description</label>
            <textarea class="form-control" id="goal_description" name="goal_description" required placeholder="e.g. Save 5k"></textarea>
        </div>
    
        <div class="form-group col-12 col-md-6 col-lg-4 m-2">
            <label>Time Frame Selection</label><br>
            <select name="goal_timeframe_selection" class="form-control">
                <option value="year">Year</option>
                <option value="semester">Semester</option>
                <option value="trimester">Trimester</option>
                <option value="month">Month</option>
            </select>
        </div>
    
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="goal_important" name="goal_important">
            <label class="form-check-label" for="goal_important">Important</label>
        </div>
    
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="goal_done" name="goal_done">
            <label class="form-check-label" for="goal_done">Done</label>
        </div>
    
        <button type="submit" class="btn btn-primary">Add Goal</button>
    </form>
    <br />
  </div>
{% endblock %}